body{
    background-color: #f0f2f2;
    font-family: 'Oswald', sans-serif;

}

.tippy {
    background-color: #121e29;
    padding: 6px 0;

}

.tippy a{
    color: #596470;
    text-decoration: none;
    text-transform: uppercase;
}

.tippy ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.tippy li{
    display: inline;
}

.rave a{
    padding: 6px 8px;
    background-color: #121e29;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
}

.rave ul {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
    text-align: right;
}

.rave li{
    display: inline;

}

.rave img{
    margin: 15px 0;

}
   
.more{
    
    padding: 6px 8px;
    background-color: #121e29;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;

}


}
.bottom{
    background: #c6cbea;
background: -moz-linear-gradient(top, #c6cbea 0%, #8b92d7 31%, #0614ac 100%);
background: -webkit-linear-gradient(top, #c6cbea 0%,#8b92d7 31%,#0614ac 100%);
background: linear-gradient(to bottom, #c6cbea 0%,#8b92d7 31%,#0614ac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6cbea', endColorstr='#0614ac',GradientType=0 );
}
